<%
import mymobilesys.xml.ui.Text;

String[] gridCols = new String[]{"solo", "a", "b", "c", "d", "e"};
String[] gridBlocks = new String[]{"a", "b", "c", "d", "e"};

function void makeGrid(Object grid) {
	int cols = grid.getCols();
	
	println("<div class='ui-grid-" + gridCols[cols - 1] + "' id='" + grid.getName() + "'>");
	
	Object blocks = grid.getBlocks();
  	
  	int c = 0;
  	for(Object b: blocks ) {
  		println("<div class='ui-block-" +  gridBlocks[c] + "'>");
  		for(Object control: b.getControls() ) {
			makeControl(control);
		}
		c++;
		if(c >= cols) {
			c = 0;
		}
  		println("</div>");
  	}
  	
	println("</div>");
}

function void makeFooter(Object footer) {
	println("<div id='" + footer.getName() + "' data-role='footer' data-position='fixed' data-tap-toggle='false' data-hide-during-focus=''" + propjqtheme(footer) + propclass(footer) + ">");
	if(footer.isDivbar()) println("<div id='footer_bar_" + footer.getName() + "' class='ui-bar'>");
	for(Object ctl: footer.getControls()) {
		if(ctl.getType().equals("Button"))
			makeButton(ctl);
		else if(ctl.getType().equals("Custom")) 
			makeCustom(ctl);
 		else if(ctl.getType().equals("Container")) 
			makeContainer(ctl);
	}
	if(footer.isDivbar()) println("</div>");
	println("</div>");
}

function void makeHeader(Object panel) {
	Object header = panel.getHeader();
	
	if(header != null && header.getReplacehtml() != null) {
		println(projectinfo.getReplaceHtml(header.getReplacehtml()).
		                                   replace("{$name}", panel.getName()).
		                                   replace("{$title}", panel.getTitle()));
	} else if(header != null && header.getControls().size() > 0) {
		String hname = header.getName() == null ? "header_" + panel.getName() : header.getName();
		println("<div id='" + hname + "' data-role='header' data-position='fixed' data-tap-toggle='false' data-hide-during-focus=''" + propjqtheme(header) + propclass(header) + ">");
		if(header.isDivbar()) println("<div id='header_bar_" + header.getName() + "' class='ui-bar'>");
		for(Object ctl: header.getControls()) {
			makeControl(ctl);
		}
		if(header.isDivbar()) println("</div>");
		println("</div>");
	} else if(!panel.getTitle().equals("")){
		println("<div id='header_" + panel.getName() + "' data-role='header' data-position='fixed' data-tap-toggle='false' data-hide-during-focus=''>");
		println("<h3 style='margin-right: 0px; margin-left: 0px;'>");
		println(panel.getTitle());
		println("</h3>");	
		println("</div>");
	}

}

function void includeCustomScripts(Object screen) {
	for(Object panel: screen.getPanels()) {
		if(panel.getHeader() != null) {
			includeCustomScriptsControls(panel.getHeader().getControls());
		}
		if(panel.getFooter() != null) {
			includeCustomScriptsControls(panel.getFooter().getControls());
		}
		includeCustomScriptsControls(panel.getControls());
	}
	
	for(Object panel: screen.getPanelsMenu()) {
		includeCustomScriptsControls(panel.getControls());
	}
}

function void includeCustomScriptsControls(Object controls) {
	for(Object control: controls ) {
	    if( control.getType().equals("Custom") ) {
	    	if(projectinfo.existCustomScript(control.getName())) {
	    		println("<script src='js/custom/" + control.getName() + ".js'></script>");
	    	}
	    } else if( control.getType().equals("Container") ) {
	    	includeCustomScriptsControls(control.getControls());
	    }
	}
}

function void includeCustomCSS(Object screen) {
	for(Object panel: screen.getPanels()) {
		if(panel.getHeader() != null) {
			includeCustomCSSControls(panel.getHeader().getControls());
		}
		if(panel.getFooter() != null) {
			includeCustomCSSControls(panel.getFooter().getControls());
		}
		includeCustomCSSControls(panel.getControls());
	}
	
	for(Object panel: screen.getPanelsMenu()) {
		includeCustomCSSControls(panel.getControls());
	}
}

function void includeCustomCSSControls(Objects controls) {
	for(Object control: controls ) {
		if( control.getType().equals("Custom") ) {
			if(projectinfo.existCustomCSS(control.getName())) {
		    	println("<link rel='stylesheet' href='css/custom/" + control.getName() + ".css' />");
		    }
	    } else if( control.getType().equals("Container") ) {
	    	includeCustomCSSControls(control.getControls());
		}
	}
}

function void includeFiles(Object screen, String filtro) {
	if( screen.getIncludehtml() == null ) {
		println("<link rel='stylesheet' href='js/jquerymobile/jquery.mobile.theme.min.css' />");
		println("<link rel='stylesheet' href='js/jquerymobile/jquery.mobile.icons.min.css' />");
	} else {
		Object incs = vlib.split(screen.getIncludehtml(), ";");
		
		for(String f: incs ) {
			String pf = f.trim();
			if(pf.startsWith("http(script)://") && filtro.equals(".js")) {
				println("<script src='http://" + pf.substring(15) + "'></script>");
			} else if(filtro == null || filtro.equals("") || pf.endsWith(filtro)) {
				
				if( pf.endsWith(".js") )
					println("<script src='" + pf + "'></script>");
				else if( pf.endsWith(".css") )
					println("<link rel='stylesheet' href='" + pf + "'>");
			}
		}
	}
}

function void makeInputText(Object control) {
	Text txt = vlib.getText(control);
	String inputtype = "";
	String input = "";
	boolean isdate = false;
	
	if(control.getReplacehtml() != null) {
		println(projectinfo.getReplaceHtml(control.getReplacehtml()).
		                                           replace("{$name}", txt.getName()).
		                                           replace("{$text}", txt.getName()).
		                                           replace("{$placeholder}", txt.getPlaceholder()));
	} else {
		if(control.isFieldcontain()) {
			println("<div class='ui-field-contain'>");
		}
		
		if( txt.getLabel() != null ) {
			println("<label id='label_" + txt.getName() + "' for='" + txt.getName() + "'>" + txt.getLabel() + "</label>");
		}
		
		if( txt.getInputtype() == null ) {
			inputtype = "text";
		} else {
			inputtype = txt.getInputtype().toLowerCase();
		}
		
		// Aunque los valores sean igual de todas formas mantener el if ya que pueden ser distintos mas adelante
		if( inputtype.equals("number") )
			input = "number";
		else if( inputtype.equals("password") )
			input = "password";
		else if( inputtype.equals("text") )
			input = "text";
		else if( inputtype.equals("date") ) {
			input = "text";
			isdate = true;
		}
		
		if(isdate) {
			println("<input type='" + input + "' name='" + txt.getName() + "' id='" + txt.getName() + "' data-role='datebox' " +
			        (control.getDataOptions() != null ? "data-options='" + replaceString(control.getDataOptions(),"'","\""):"") + "'>");
		} else {
			println("<input type='" + input + "' name='" + txt.getName() + "' id='" + txt.getName() + "' value='" + (txt.getText() == null ? "": txt.getText()) + "' " + propjqtheme(txt) + propclass(txt) + propplaceholder(txt) + propjqmini(txt) +
			         (txt.getMaxlength() == null ? "": " maxlength='" + txt.getMaxlength() + "' ") + (txt.getDataFormat() == null ? "": " data-format='" + txt.getDataFormat() + "' ") + ">");
	    }
	
		if(control.isFieldcontain()) {
			println("</div>");
		}
	}
}

function String replaceString(String text, String find, String replace) {
	return(text.replace(find, replace));
}

function void propjqtheme(Object ctl) {
	String ret = "";
	if( ctl.getJqtheme() != null ) 
		ret = " data-theme='" + ctl.getJqtheme() + "'";
	return(ret);
}

function void propjqthemedefault(Object ctl, String themedefault) {
	String ret = "";
	if( ctl.getJqtheme() != null ) 
		ret = " data-theme='" + ctl.getJqtheme() + "'";
	else
		ret = " data-theme='" + themedefault + "'";
	return(ret);
}

function void propjqdisplay(Object ctl) {
	String ret = "";
	if( ctl.getDisplay() != null ) 
		ret = " data-display='" + ctl.getDisplay() + "'";
	return(ret);
}

function void propplaceholder(Object ctl) {
	String ret = "";
	if( ctl.getPlaceholder() != null ) 
		ret = " placeholder='" + ctl.getPlaceholder() + "'";
	return(ret);
}

function void propjqposition(Object ctl) {
	String ret = "";
	if( ctl.getPosition() != null ) 
		ret = " data-position='" + ctl.getPosition() + "'";
	return(ret);
}

function void propjqmini(Object ctl) {
	String ret = "";
	if(ctl.isMini() != null && ctl.isMini()) {
		ret = " data-mini='" + ctl.isMini() + "'";
	}
	return(ret);
}

function void propjqicon(Object ctl) {
	String ret = "";
	if( ctl.getType().equals("Button")) {
		if(ctl.getIcontype() != null ) {
			ret = " data-icon='" + ctl.getIcontype() + "'";
			
			if(ctl.getIconpos() != null ) {
			 	ret += " data-iconpos='" + ctl.getIconpos() + "'";
			}
		}

	}
	return(ret);
}

function void propclass(Object ctl) {
	String ret = "";
	if( ctl.getClazz() != null ) 
		ret = " class='" + ctl.getClazz() + "'";
	return(ret);
}

function void makeButton(Object btn) {
	if(btn.getReplacehtml() != null) {
		println(projectinfo.getReplaceHtml(btn.getReplacehtml()).
		                                           replace("{$name}", btn.getName()).
		                                           replace("{$text}", btn.getText()));
	} else {
   		println( "<input type='button' id='" + btn.getName() + "' value='" + btn.getText() + "'" + propjqtheme(btn) + propjqicon(btn) + propjqmini(btn) + propclass(btn) + ">");
   	}
}

function void makeContainer(Object cont) {

	String name = cont.getName();
	println("<div id='" + cont.getName() + "'" + propclass(cont) + ">");
		
	for(Object control: cont.getControls() ) {
		makeControl(control);
	}
	    	
	println("</div>");
}


function void makeInputCheck(Object chk) {
	if(chk.getReplacehtml() != null) {
		println(projectinfo.getReplaceHtml(chk.getReplacehtml()).
		                                           replace("{$name}", chk.getName()).
		                                           replace("{$text}", chk.getText()));
	} else {
	    println("<input type='checkbox' name='" + chk.getName() + "' id='" + chk.getName() + "' class='custom'" + propjqtheme(chk) + propjqmini(chk) + propclass(chk) + ">");
	    
	    if( chk.getText() != null ) {
			println("<label id='label_" + chk.getName() + "' for='" + chk.getName() + "'>" + chk.getText() + "</label>");
		}
	}
	
}

function void makeCustom(Object custom) {
	String html = projectinfo.getCustomHtml(custom.getHtmlfile() == null ? custom.getName(): custom.getHtmlfile());
	
	if(html == null) {
		println("<div name='" + custom.getName() + "' id='" + custom.getName() + "'></div>");
	} else {
		println(html);
	}
}

function String propchecked(Object ctl) {
	String ret = "";
	
	if( ctl.isChecked() == true ) { 
		ret = " checked = 'checked'";
	}
	
	return(ret); 
}

function void makeInputRadioGroup(Object rg) {
	println("<fieldset id='cg_" + rg.getName() + "' data-role='controlgroup'>");
	
	if( rg.getLabel() != null )
  		println("<legend>" + rg.getLabel() + "</legend>");
  	
  	Object radios = rg.getRadios();
  	String namerg = rg.getName();
  	
  	int c = 1;
  	for(Object radio: radios ) {
 		println("<input type='radio' name='" + namerg + "' id='" + radio.getName() + "' value='choice-" + c++ + "' " + propchecked(radio) + propclass(radio) + ">");
  		println("<label id='label_" + radio.getName() + "' for='" + radio.getName() + "'>" + radio.getText() + "</label>");
  	}
  	println("</fieldset>");
}

function void makeCombo(Object combo) {
	if(combo.getReplacehtml() != null) {
		println(projectinfo.getReplaceHtml(combo.getReplacehtml()).
		                                           replace("{$name}", combo.getName())); 
	} else {
		if( combo.getLabel() != null ) 
			println("<label id='label_" + combo.getName() + "' for='" + combo.getName() + "' class='select'>" + combo.getLabel() + "</label>");
	
		println("<select name='" + combo.getName() + "' id='" + combo.getName() + "' data-native-menu='false'" + propjqtheme(combo) + propclass(combo) + " data-transition='none'>");
		println("<option value='-1' data-placeholder='true'>Seleccionar...</option>");
		println("</select>");
	}
} 

function void makeList(Object list) {
	String name = list.getName();
	println("<ul data-role='listview' " + (list.isBorder() == true ? "data-inset='true'" : "") + " name='" + name + "' id='" + name + "' " + propjqtheme(list) + propclass(list) + ">" );
	println("</ul>");
}

function void makeImage(Object image) {
	String name = image.getName();
	println("<div class='ui-grid-solo'>");
    println("    <div class='ui-block-a' style='text-align: center;width: 100% !important;'>");
    println("        <img src='images/" + image.getImage() + "'" + (image.getWidth() == null ? "" : " style='width:" + image.getWidth() + " !important;'") + propclass(image) + " />");
    println("    </div>");
    println("</div>");
}

function void makeForm(Object form) {
	String name = form.getName();
	println("<ul data-role='listview' data-inset='true' " + propjqtheme(form) + propclass(form) + ">");
	
	for(Object control: form.getControls() ) {
		println("<li class='ui-field-contain'>");
		makeControl(control);
		println("</li>");
	}
	    	
	println("</ul>");
}

function void makeHtml(Object chtml) {
	String name = chtml.getName();
	println("<div id='" + chtml.getName() + "'" + propclass(chtml) + ">");
	if(chtml.getData() != null) {
		println(chtml.getData());
	}
	println("</div>");
}


function void makeControl(Object control) {
	if( control.getType().equals("Text") )
		makeInputText(control);
	else if( control.getType().equals("Button") ) 
		makeButton(control);
	else if( control.getType().equals("Check") ) 
		makeInputCheck(control);
	else if( control.getType().equals("RadioGroup") ) 
		makeInputRadioGroup(control);
	else if( control.getType().equals("Combo") )
		makeCombo(control);
	else if( control.getType().equals("List") )
		makeList(control);	
	else if( control.getType().equals("Image") )
		makeImage(control);	
	else if( control.getType().equals("Form") )
		makeForm(control);
	else if( control.getType().equals("Grid") )
		makeGrid(control);
	else if( control.getType().equals("Html") )
		makeHtml(control);
	else if( control.getType().equals("Container") )
		makeContainer(control);
	else if( control.getType().equals("Custom") )
		makeCustom(control);
}
%>
<%-- Cuerpo de la plantilla --%>
<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  	<title></title>
  
  	<% includeFiles(screen, ".css");%>

  	<!-- jQuery and jQuery Mobile -->
	<link rel='stylesheet' href='js/jquerymobile/jquery.mobile.structure.min.css'>
	<link rel='stylesheet' href='js/datebox/jqm-datebox-1.4.5.min.css'>
	<link rel='stylesheet' href='css/panelmenu.css'>
	<% includeCustomCSS(screen); %>
	
  	<script src="js/jquery-2.1.3.min.js"></script>
  	<script src="js/mobileinit.js"></script>
  	<script src="js/jquerymobile/jquery.mobile.min.js"></script>
  	<script src="js/MMS_<%=screen.getName()%>.js"></script>
    <script src="js/androidInterface.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/eventsfunctions.js"></script>
    <% includeCustomScripts(screen); %>
    
    <script type="text/javascript" src="js/datebox/jqm-datebox-1.4.5.core.min.js"></script>
    <script type="text/javascript" src="js/datebox/jqm-datebox-1.4.5.mode.calbox.min.js"></script>
    <script type="text/javascript" src="js/datebox/jqm-datebox-1.4.5.mode.flipbox.min.js"></script>
    <script type="text/javascript" src="js/datebox/jqm-datebox-1.4.5.mode.datebox.min.js"></script>
   	<script type="text/javascript" src="js/numberformat/numeral.min.js"></script>

  	<% includeFiles(screen, ".js");%>

</head>
<body>
<%-- Recorremos los objetos Panel y creamos la Página JQueryMobile por cada uno --%>

<% for(Object panel: screen.getPanels() ) { %>
<div data-role="page" id="<%=panel.getName()%>" <%=propjqtheme(panel)%> <%=propclass(panel)%>>
    <% makeHeader(panel); %>
    <div data-role="content" id="<%=panel.getName()%>_panelcnt">
    	<%-- Por cada Panel le agregamos los controles definidos dentro de él --%>
    	
		<% for(Object control: panel.getControls() ) {
	    	makeControl(control);
	    } %>
    </div>
    <% if(panel.getFooter() != null) makeFooter(panel.getFooter()); %>
    
</div>
<% } %>
<%-- Recorremos los objetos PanelMenu y creamos la página JQueryMobile por cada uno --%>
<% for(Object panel: screen.getPanelsMenu() ) { %>
<div data-role="panel" id="<%=panel.getName()%>" data-position-fixed="true" data-swipe-close="true" <%=propjqthemedefault(panel, "a")%> <%=propjqposition(panel)%> <%=propjqdisplay(panel)%>>
	<%-- Por cada Panel le agregamos los controles definidos dentro de él --%>
	
	<% for(Object control: panel.getControls() ) {
    	makeControl(control);
    } %>
</div>
<% } %>
</body>
</html>
